<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
      Welcome to EmberNote
    </div>
    <div class='col-md-10'>
      {{#if user}}
        Hello, {{user.name}}
      {{else}}
        {{#link-to 'register'}}register{{/link-to}}&nbsp;
        {{#link-to 'login'}}login{{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class='row'>
    {{outlet}}
  </div>
</div>
